* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* proprietà generali */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #808080;
}

header {
  background-color: #0C325A;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  width: 86%;
  height: 100%;
  margin: auto;
  position: relative;
}

.float {
  float: left;
}

.float-right {
  float: right;
}

.bg-lightgrey {
  background-color: lightgrey;
}

.sect-padd {
  padding: 40px 0;
}

hr {
  border: 0;
  height: 1px;
  display: inline-block;
}
/* /proprietà generali */

/* tipografia */
h1 {
  color: white;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 30px;
}

h4 {
 font-weight: 500;
}

h3, p {
  padding: 20px 0;
}

h2 {
  margin-bottom: 15px;
  font-size: 28px;
  color: #000;
}

h3 {
  font-size: 28px;
  color: #7CBB02;
  font-weight: 500;
}

.underline {
  text-decoration: underline;
  padding-bottom: 1px;
}
/* /tipografia */

/* stile testo link */
a:not(.dec-not) {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
/* /stile testo link */

/* intestazione */
/* grandezze blocchi header */
.container .img-box {
  width: 8%;
  line-height: 80px;
}

.img-box img {
  width: 100%;
  vertical-align: middle;
}

header nav {
  padding-top: 5px;
  vertical-align: middle;

}
/* /grandezze blocchi header */

/* navbar */
.nav-1 {
  text-align: center;
  width: 50%;
}

.nav-2 {
  text-align: right;
  width: 42%;
}

nav li, .section-5 li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  line-height: 80px;
}

.nav-2 li:last-child, .section-5 li:last-child {
  margin-right: 0;
}
/* /navbar */

/* link box */
.link-box {
  background-color: #7CBB02;
  border-radius: 5px;
}

.box-empty {
  padding: 7px 30px;
  height: 40px;
  border: 2px solid white;
  background-color: inherit;
}

.box-1 {
  padding: 7px 10px;
  height: 40px;
}
/* /link box */
/* /intestazione */

/* hero */
.hero {
  height: 500px;
  background-color: #0C325A;
  position: relative;
  overflow: hidden;
}

/* foto di sfondo */
.hero>.background {
  position: absolute;
  top: 14%;
  left: 35%;
  height: 90%;
  width: 70%;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* /foto di sfondo */

/* box centrale */
.hero-text {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#box-2 {
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}
/* /box centrale */
/* /hero */

/* sezione 2 */
.section-2 {
  text-align: center;
}

.section-2 h4 {
  font-size: 20px;
  font-weight: normal;
}
/* /sezione 2 */

/* sezione 3 */
.column {
  width: calc(100% / 3);
  padding: 0 30px;
  text-align: center;
}

.column img {
  width: 100%;
  height: 200px;
}

.column hr {
  background-color: #858585;
  width: 20%;
}
/* /sezione 3 */

/* linea di separazione */
.hr-division {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  width: 98%;
  background-color: lightgray;
  display: block;
}
/* /linea di separazione */

/* sezione 4 */
.mnt-img {
  width: 50%;
  padding: 0 80px;
}

/* blocco testo di destra */
.sect-4-text {
  width: 37%;
  padding-left: 40px;
}

.sect-4-text h2, .section-5 h2 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -1px;
}

.sect-4-text h4 {
  font-size: 20px;
}

.dec-not {
  display: inline-block;
  padding-top: 40px;
  color: #5D8BBF;
}

.dec-not:hover {
  color: #3333ff;
}
/* /blocco testo di destra */
/* /sezione 4 */

/* sezione 5 */
.section-5 {
  height: 150px;
  vertical-align: bottom;
}

.section-5 li, .section-5 h2 {
  line-height: 150px;
}

.word-spacing {
  word-spacing: 50px;
}

#box-3 {
  padding: 20px 10px;
  font-size: 16px;
}

.section-5 h2 {
  margin-bottom: 0;
}
/* /sezione 5 */

/* bottone 'help' */
#btn-help {
  position: fixed;
  bottom: 0;
  right: calc(7% + 106px);
  padding: 10px;
  font-size: 16px;
  transform: translateX(+50%);
}
/* /bottone 'help' */
