* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* proprietà generali */
body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #0C325A;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  width: 85%;
  height: 100%;
  margin: auto;
  position: relative;
}

.float {
  float: left;
}
/* /proprietà generali */

/* stile testo link */
a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
/* /stile testo link */

/* intestazione */
/* grandezze blocchi header */
.container .img-box {
  width: 8%;
  line-height: 80px;
}

.img-box img {
  width: 100%;
  vertical-align: middle;
}

header nav {
  padding-top: 5px;
  vertical-align: middle;

}
/* /grandezze blocchi header */

/* navbar */
.nav-1 {
  text-align: center;
  width: 50%;
}

.nav-2 {
  text-align: right;
  width: 42%;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  line-height: 80px;
}
/* /navbar */

/* link box */
.link-box {
  background-color: #7CBB02;
  border-radius: 5px;
}

.box-empty{
  padding: 5px 20px;
  height: 40px;
  border: 2px solid white;
  background-color: inherit;
}

.box-1 {
  padding: 5px 10px;
  height: 40px;
}
/* /link box */
/* /intestazione */

/* hero */
.hero {
  height: 70vh;
  background-color: #0C325A;
  position: relative;
  overflow: hidden;
}

/* foto di sfondo */
.hero>.background {
  position: absolute;
  bottom: 0;
  left: 35%;
  height: 85%;
  width: 70%;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* /foto di sfondo */

/* box centrale */
.hero-text {
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.box-2 {
  padding: 20px;
}
/* /box centrale */

/* /hero */
